<div class="centerApp">

<h2 style="margin:20px">Profile</h2>

<div class="profileCard">
<div class="avatar">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</div>

<h3><bold> <%= @user.name %></bold> </h3>

<%= @user.email %>

</div>
</div>

<div class="centerApp2">
<hr><hr>
<h2 style="margin:20px">Availble Blogs</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
       <th>User Id </th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
    <% if blog.status == 1 %>
    <% if blog.userID == @currentUserId %>
      <tr>
        <td><%= blog.title %></td>
          <td><%= blog.userID %></td>
        <td><%= blog.time %></td>
        
        <td colspan="3"><%= link_to 'Show', blog %></td>
        
         
      </tr>
      <% end %>
      <% end %>
    <% end %>
   
  </tbody>
  
</table>
</div>