

<div class="alert" id="alert-title">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <p id="notice"><%= notice %></p>
</div>

<p>
  <strong>User:</strong>
  <%= @blog_comment.user_id %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @blog_comment.blog_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @blog_comment.comment %>
</p>

<%= link_to 'Edit', edit_blog_comment_path(@blog_comment) %> |
<%= link_to 'Back', blog_comments_path %>

<script> 
    var empt = document.getElementById('notice').innerText;
  if ( empt == null || empt == "") {
    document.getElementById("alert-title").style.display = "none";
  } else {
    document.getElementById("alert-title").style.background = "#51B987";
  }

</script>