<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% if @blog.status == 1 %>
<%= link_to 'Hide', update_status_blog_path(@blog, status: 0), method: :patch %>
<% else %>
<%= link_to 'Show', update_status_blog_path(@blog, status: 1), method: :patch %>
<% end %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
