<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>
<h2>Comment<h2>
<%= form_with(model: @blog_comment, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :comment %>
    <%= form.hidden_field :blog_id, :value => @blog.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<h2>Comment List</h2>
<ul>
  <% @blog.blog_comment.each do |blog_comment|%>
   <li><%= blog_comment.comment%>
     (<i><%= blog_comment.user_id %></i>)</li>
<% end %>
</ul>
<% if @blog.status == 1 %>
<%= link_to 'Hide', update_status_blog_path(@blog, status: 0), method: :patch %>
<% else %>
<%= link_to 'Show', update_status_blog_path(@blog, status: 1), method: :patch %>
<% end %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
